* {
    padding: 0;
    margin: 0;
}

.gameContainer {
    background: linear-gradient(180deg, rgb(3, 19, 78) 35%, green 0%);
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    margin: auto;
    /* display: none; */
}

#car {
    width: 100px;
    height: 60px;
    background-image: url(giphy.webp);
    background-size: 100%;
    position: relative;
    top: 143px;
    left: 120px;
    filter: drop-shadow(1px 8px 4px rgba(2, 2, 41, 0.68));
}

#tree {
    width: 100px;
    height: 100px;
    background-image: url(deciduous-tree-nature.gif);
    background-size: 100%;
    position: relative;
    top: 50px;
    left: 1000px;
    animation: Cactus-Block 2s infinite linear;
    filter: drop-shadow(1px 8px 4px rgba(2, 2, 41, 0.68));
}

.Jump {
    animation: Jump 0.5s Linear;
}

@keyframes Jump {
    0% {
        Top: 143px;
    }

    20% {
        Top: 123px;
    }

    30% {
        top: 103px;
    }

    40% {
        Top: 83x;
    }

    50% {
        Top: 63px;
    }

    60% {
        top: 83px;
        ;
    }

    70% {
        top: 103px;
    }

    80% {
        top: 123px;
    }

    90% {
        Top: 143px;
    }

    100% {
        Top: 143px;
    }
}

.tree1 {
    width: 100%;
    height: 100px;
    background-image: url(tree-happy.gif);
    background-size: 10%;
    position: relative;
    top: -10px;
    left: 100px;
    /* border-radius: 100%; */
    animation: Cactus-Block 3s infinite linear;
}

.ghost {
    width: 100px;
    height: 60px;
    background-image: url(ghost.gif);
    background-size: 100%;
    position: relative;
    top: 143px;
    left: 120px;
    animation: Jump 4s infinite Linear;
}

.tree2 {
    width: 100%;
    height: 130px;
    background-image: url(tree-happy.gif);
    background-size: 10%;
    position: relative;
    top: -20px;
    left: 500px;
    animation: Cactus-Block 3s infinite linear;
}

.stone {
    width: 100%;
    height: 100px;
    background-image: url(tree-happy.gif);
    background-size: 10%;
    position: relative;
    top: -10px;
    left: 300px;
    animation: Cactus-Block 3s infinite linear;
}

.stone2 {
    width: 100%;
    height: 100px;
    background-image: url(tree-happy.gif);
    background-size: 10%;
    position: relative;
    top: -80px;
    left: 200px;
    animation: Cactus-Block 3s infinite linear;
}


@keyframes Cactus-Block {
    0% {
        right: 600px;
    }

    100% {
        left: -10px;
    }
}

#load {
    /* font-size: 30px; */
    width: 100%;
    height: 100vh;
    margin: auto 10px;
    z-index: 100;
    position: fixed;
    color: brown;
}

.text {
    width: 100%;
    font-size: 15px;
    top: 200px;
    left: 250px;
    /* height: 100vh; */
    z-index: 200;
    position: relative;
    margin: autp 10px;
    /* padding: 12px; */
}