* {
    padding: 0;
    margin: 0;

}

body {
    background: linear-gradient(180deg, rgb(3, 19, 78) 35%, green 0%);
    background-attachment: fixed;
}

.gameContainer {
    width: 100%;
    height: 100vh;
    margin: auto;
    position: fixed;
    top: 120px;
}

.bg-color {
    background-color: yellow;
}

#car {
    width: 100px;
    height: 131px;
    background-image: url(people.gif);
    background-size: 100%;
    position: relative;
    top: 143px;
    left: 120px;
    filter: drop-shadow(1px 18px 4px rgba(2, 2, 41, 0.68));
}

#tree {
    width: 100px;
    height: 60px;
    background-image: url(ghost.gif);
    background-size: 100%;
    position: relative;
    top: 70px;
    left: 1000px;
    animation: Cactus-Block 5s infinite linear;
    /* filter: drop-shadow(1px 8px 4px rgba(2, 2, 41, 0.68)); */
}

.Jump {
    animation: Jump 1.3s Linear;
}


.home2 {
    width: 100px;
    height: 100px;
    background-image: url(derelict-house-travel.gif);
    background-size: 100%;
    position: relative;
    top: -300px;
    left: 1600px;
    ;
    animation: Cactus-Block 6s infinite linear;
    z-index: -1;
}

.tree2 {
    width: 100px;
    height: 100px;
    background-image: url(tree-oatmeal.gif);
    background-size: 100%;
    position: relative;
    top: -200px;
    left: 1600px;
    animation: Cactus-Block 5s infinite linear;
    z-index: -1;
}

.home {
    width: 100px;
    height: 120px;
    background-image: url(home-flowers.gif);
    background-size: 100%;
    position: relative;
    top: -90px;
    left: 1600px;
    animation: Cactus-Block 4s infinite linear;
    z-index: -10;
}

#load {
    width: 100%;
    height: 100vh;
    z-index: 100;
    position: fixed;
    color: brown;
}

@keyframes Jump {
    0% {
        Top: 143px;
    }

    20% {
        Top: 100px;
    }

    30% {
        top: 60px;
    }

    40% {
        Top: 33x;
    }

    50% {
        Top: -13px;
    }

    60% {
        top: 33px;
        ;
    }

    70% {
        top: 60px;
    }

    80% {
        top: 100px;
    }

    90% {
        Top: 143px;
    }

    100% {
        Top: 143px;
    }
}

@keyframes Cactus-Block {
    0% {
        right: 600px;
    }

    100% {
        left: -10px;
    }
}